# =========================
# Database (MySQL - Railway)
# =========================
DB_HOST=metro.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=MySQL                   # Mot de passe MySQL réel
DB_NAME=railway
DB_PORT=33429

# =========================
# Auth
# =========================
JWT_SECRET=solchdisk-gaming-secret-key-2024

# =========================
# Email (SMTP - Gmail)
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=Soppysolch002@gmail.com
SMTP_PASS=qbfwetmpnyzaluws            # Ton App Password Gmail (supprime les espaces du code affiché)
EMAIL_FROM="SolchDisk Gaming <no-reply@solchdisk.com>"